.container {
  display: flex;
  flex-direction: column;
   	background-color: var(--bgSoft);
	padding: 20px;
	border-radius: 10px;
}

.chartContainer {
  display: flex;
  width: 100%;
}

.chartWrapper {
  flex: 1;
  height: 400px;
}

.textWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  	font-weight: 200;
	color: var(--textSoft);
	margin-bottom: 20px;
}

.userTitle {
	font-size: 12px;
	color: var(--textSoft);
}

.lipad {
	padding-bottom: 5px;
}
.row {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.row p {
  margin: 0 10px;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 5px 0;
  border-bottom: 2px solid #ccc;
}